<div class= "mt-12 px-16 sm:px-10 text-gray-900">
  <h3 class="text-2xl font-semibold mb-6">Get up to date with all your assets with <span class="underline decoration-amber-500 decoration-4 underline-offset-4">Takestock<span></h3>
  <div class= "grid grid-cols-3 gap-4">
    <div class="max-w-sm p-6 rounded-lg bg-gray-50 flex flex-col justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
      <a href="#">
      <div>
        <%= image_tag "Twitter.png"%>
      </div>
      <div class= "mt-8 p-2 ">
        <h5 class="mb-2 text-l font-semibold tracking-tight text-gray-900">Keep up to date with Twitter Verse</h5>
        <p class="font-normal text-sm text-gray-700">Scroll through the most trending tweets about your assets.</p>
        <p class="mt-4 font-normal text-sm text-gray-50 group-hover:hidden">Learn</p>
        <p class="mt-4 font-normal text-sm text-amber-500 hidden group-hover:block">Learn More</p>
      </div>
      </a>
    </div>
      <div class="max-w-sm p-6 rounded-lg bg-gray-50 flex flex-col justify-between hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
        <a href="#">
        <div class="">
          <h5 class="mb-2 text-l font-semibold tracking-tight text-gray-900">Dive into the latest Reddit posts</h5>
          <p class="font-normal text-sm text-gray-700">Tap into the top investment content from a variety of community networks.</p>
          <p class="mt-4 font-normal text-sm text-gray-50 group-hover:hidden">Learn</p>
          <p class="mt-4 font-normal text-sm text-amber-500 hidden group-hover:block">Learn More</p>
        </div>
        <div class= "p-2">
          <%= image_tag "News.png"%>
        </div>
        </a>
      </div>
      <div class="max-w-sm p-6 rounded-lg bg-gray-50 flex flex-col justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
      <a href="#">
        <div>
          <%= image_tag "Reddit.png"%>
        </div>
        <div class= "mt-8 p-2">
          <h5 class="mb-2 text-l font-semibold tracking-tight text-gray-900">All the trending news at your fingertips</h5>
          <p class="font-normal text-sm text-gray-700">See what is happening around the world for your favourite stocks.</p>
          <p class="mt-4 font-normal text-sm text-gray-50 group-hover:hidden">Learn</p>
          <p class="mt-4 font-normal text-sm text-amber-500 hidden group-hover:block">Learn More</p>
        </div>
      </a>
    </div>
  </div>
</div>
