<div class="w-screen h-80 bg-indigo-700 items-center justify-center flex my-10">
  <div class="text-center text-white ">
    <h2 class="text-4xl font-extrabold">News, Socials, Price Charts</h2>
    <p class="text-lg">We've put everything you need in one place to drastically reduce the time needed to do market research</p>
    <%= link_to "Learn More", new_user_registration_path, class: "mt-6 ml-6 inline-flex items-center justify-center w-40 h-10 whitespace-nowrap rounded-full border border-transparent bg-white px-4 py-1 text-base font-medium text-indigo-600 hover:bg-gray-200" %>
  </div>
</div>
