<div class="w-screen h-60 bg-indigo-600 mt-16 flex text-white justify-center items-center mb-24">
  <div>
    <h2 class="text-3xl font-extrabold mb-4">Start building your portfolio today.</h2>
    <p class="text-lg font-serif">Register a free account and keep up with all your favourite assets</p>
  </div>
    <%= link_to "Get Started", new_user_registration_path, class: "ml-16 inline-flex items-center justify-center w-40 h-10 whitespace-nowrap rounded-full border border-transparent bg-white px-4 py-1 text-gray-900 hover:bg-gray-100" %>

</div>
