<!-- TradingView Widget BEGIN -->
<div class="mt-12 mb-12 pt-4 flex items-baseline justify-between border-amber-500 border-t-8">
  <h3 class="text-4xl font-bold">Markets Summary</h3>
  <%# <p class="text-gray-600 border-b-4 mb-4 border-amber-500"></p> %>
</div>
<div class="rounded-lg border border-gray-200 p-2 bg-gray-50" style="height:70vh">
 <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_3ede0"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.MediumWidget(
  {
  "symbols": [
    [
      "NASDAQ100",
      "NASDAQ:NDX|1D"
    ],
    [
      "VAS300",
      "ASX:VAS|1D"
    ],
    [
      "A200",
      "ASX:A200|1D"
    ],
    [
      "USD",
      "FX:USDOLLAR|1D"
    ],
    [
      "AUD",
      "FX:AUDUSD|1D"
    ]
  ],
  "chartOnly": false,
  "width": "100%",
  "height": "100%",
  "locale": "en",
  "colorTheme": "light",
  "autosize": true,
  "showVolume": false,
  "hideDateRanges": false,
  "scalePosition": "right",
  "scaleMode": "Normal",
  "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
  "fontSize": "12",
  "noTimeScale": false,
  "valuesTracking": "1",
  "chartType": "line",
  "fontColor": "rgba(152, 152, 152, 1)",
  "widgetFontColor": "rgba(101, 101, 101, 1)",
  "container_id": "tradingview_3ede0"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
</div>
