<div class="pt-24 flex flex-col max-w-5xl mx-auto">
  <h3 class="text-2xl font-semibold mb-3">TakeStock proudly brought to you by <span class="underline decoration-amber-500 decoration-4 underline-offset-4">FACE-co<span></h3>
  <div class="text-lg mb-6">Please checkout our <a class="text-indigo-500" href="https://github.com/FACE-co/TakeStock">Project Github</a> for more information!</div>
  <div class= "grid grid-cols-4 gap-4">
    <div class="lg:max-w-sm p-6 rounded-lg bg-gray-50 flex border-2 border-gray-50 justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group transition">
      <a href="https://www.linkedin.com/in/farah-masri-72b329141/">
      <div class="grayscale w-100 h-1/2 group-hover:grayscale-0">
        <%= image_tag "FarahM.jpeg"%>
      </div>
      <div class= "mt-12 p-2 ">
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 group-hover:underline decoration-amber-500 decoration-2 underline-offset-4">Farah Masri</h5>
        <p class="font-normal text-sm text-gray-700 font-serif">Just trying to have a good time</p>
      </div>
      </a>
    </div>
      <div class="w-100 p-6 rounded-lg bg-gray-50 flex border-2 border-gray-50 justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
      <a href="https://www.linkedin.com/in/amberyharris/">
        <div class="grayscale w-100 h-1/2 group-hover:grayscale-0">
          <%= image_tag "Reddit.png"%>
        </div>
        <div class= "mt-12 p-2">
          <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 group-hover:underline decoration-amber-500 decoration-2 underline-offset-4">Ambery Harris</h5>
          <p class="font-normal text-sm text-gray-700 font-serif">Data is my passion, and also Neo-Brutalism</p>
        </div>
      </a>
    </div>
      <div class="w-100 p-6 rounded-lg bg-gray-50 flex border-2 border-gray-50 justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
      <a href="https://www.linkedin.com/in/casey-qingyun-dai/">
        <div class="grayscale w-100 h-1/2 group-hover:grayscale-0">
          <%= image_tag "CaseyD.jpeg"%>
        </div>
        <div class= "mt-12 p-2">
          <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 group-hover:underline decoration-amber-500 decoration-2 underline-offset-4">Casey Qingyun Dai</h5>
          <p class="font-normal text-sm text-gray-700 font-serif">This course was too easy for me</p>
        </div>
      </a>
    </div>
     <div class="lg:max-w-sm p-6 rounded-lg bg-gray-50 flex justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
      <a href="https://www.linkedin.com/in/elliottkan/">
      <div class="grayscale w-100 h-1/2 group-hover:grayscale-0">
        <%= image_tag "ElliottK.png"%>
      </div>
      <div class= "mt-12 p-2 ">
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 group-hover:underline decoration-amber-500 decoration-2 underline-offset-4">Elliott Kan</h5>
        <p class="font-normal text-sm text-gray-700 font-serif">Lover of Backend Development <br><small>and maybe front-end too</small></p>
      </div>
      </a>
    </div>
  </div>
</div>
