<div class="pt-24 flex flex-col max-w-5xl mx-auto">
  <h3 class="text-2xl font-semibold mb-3">TakeStock proudly brought to you by <span class="underline decoration-amber-500 decoration-2 underline-offset-6">FACE-co<span></h3>
  <div class="text-lg mb-6">Please checkout our <a class="text-indigo-500 hover:underline decoration-indigo-500 decoration-4" href="https://github.com/FACE-co/TakeStock">Project Github</a> for more information!</div>
  <div class= "grid grid-cols-4 gap-4">
    <div class="lg:max-w-sm p-6 rounded-lg bg-gray-50 flex border-2 border-gray-50 justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group transition">
      <a href="https://www.linkedin.com/in/farah-masri-72b329141/">
      <div class="w-100 h-2/5">
        <%= image_tag "FarahM.jpeg"%>
      </div>
      <div class= "mt-12 p-2 ">
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 group-hover:underline decoration-amber-500 decoration-2 underline-offset-4">Farah Masri</h5>
        <p class="font-normal text-sm text-gray-700 font-serif">Graduate Software Engineer at Xero.</p>
        <p class="font-normal text-sm text-indigo-500 font-serif mt-2">Currently not open to new opportunities</p>
      </div>
      </a>
    </div>
      <div class="w-100 p-6 rounded-lg bg-gray-50 flex border-2 border-gray-50 justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
      <a href="https://www.linkedin.com/in/amberyharris/">
        <div class="w-100 h-2/5">
          <%= image_tag "AmberyH.jpg", class:"min-h-100 min-w-100 cover"%>
        </div>
        <div class= "mt-12 p-2">
          <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 group-hover:underline decoration-amber-500 decoration-2 underline-offset-4">Ambery Harris</h5>
          <p class="font-normal text-sm text-gray-700 font-serif">BA turned full-stack engineer. Tech is the future - and the present.</p>
          <p class="font-normal text-sm text-indigo-500 font-serif mt-2">Open to work.</p>
        </div>
      </a>
    </div>
      <div class="w-100 p-6 rounded-lg bg-gray-50 flex border-2 border-gray-50 justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
      <a href="https://www.linkedin.com/in/casey-qingyun-dai/">
        <div class="w-100 h-2/5">
          <%= image_tag "CaseyD.jpeg"%>
        </div>
        <div class= "mt-12 p-2">
          <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 group-hover:underline decoration-amber-500 decoration-2 underline-offset-4">Casey Dai</h5>
          <p class="font-normal text-sm text-gray-700 font-serif">Software Engineer | Full-stack Developer | Project Manager</p>
          <p class="font-normal text-sm text-indigo-500 font-serif mt-2">Open to work.</p>
        </div>
      </a>
    </div>
     <div class="lg:max-w-sm p-6 rounded-lg bg-gray-50 border-2 border-gray-50 flex justify-end hover:border-2 hover:border-solid hover:border-indigo-500 hover:drop-shadow-xl box-border group">
      <a href="https://www.linkedin.com/in/elliottkan/">
      <div class="w-100 h-2/5">
        <%= image_tag "ElliottK.jpeg", class:"object-cover"%>
      </div>
      <div class= "mt-12 p-2 ">
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 group-hover:underline decoration-amber-500 decoration-2 underline-offset-4">Elliott Kan</h5>
        <p class="font-normal text-sm text-gray-700 font-serif">Changing mediums from Buildings to Web Apps with 6+ years experience in the Building Design and Construction Industry</p>
        <p class="font-normal text-sm text-indigo-500 font-serif mt-2">Open to work.</p>
      </div>
      </a>
    </div>
  </div>
</div>
