root "/" "dashboard#show"

<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
<br>

<div data-controller="dropdown" class="relative">
  <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="inline-flex w-20 justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100">
    Portfolios
  </button>
  <%= turbo_frame_tag "portfolio_turbo_frame" do %>

  <div
    data-dropdown-target="menu"
    class="absolute left-0 z-10 mt-2 w-100 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95">
    <div class="py-1" role="none">
      <% @portfolios.each do |portfolio| %>
        <%= link_to portfolio.name,
            portfolio_path(portfolio),
            data_action:"dropdown#toggle" %>
      <% end %>
      <%# <a href="#" data-action="dropdown#toggle" class="text-gray-700 block px-4 py-2 text-sm">Account settings</a>
      <a href="#" data-action="dropdown#toggle" class="text-gray-700 block px-4 py-2 text-sm">Support</a>
      <a href="#" data-action="dropdown#toggle" class="text-gray-700 block px-4 py-2 text-sm">License</a> %>
    </div>
  </div>
  <% end %>
</div>
