// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// $shade-10: #2c3e50 !default;
// $shade-1: #f59e0b !default;
// $shade-0: #fff !default;
// $teal: #4f46e5 !default;
