* {
  cursor: none;
}

.cursor {
  z-index: 100;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  z-index: 100;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: black;
  opacity: 1;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  width: 100px;
  height: 100px;
  background-color: rgba($color: orange, $alpha: 0.5);
  border-radius: 100%;
  border: 2px solid orange;
  opacity: 0.5;
}
