// Specific CSS for your home-page
.full-page {
  height: 92vh;
  font-family: $body-font;
  color: black;

  .hero-container {
    display: unset;
    left: 8rem;
    height: 100%;
    width: 92vw;
    display: flex;
    z-index: -100;
    overflow: hidden;
    position: absolute;
    flex-direction: column;

    .hero-image {
      object-position: unset;
      height: 100vh;
      object-fit: cover;
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
  }

  .hero-text-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    padding-bottom: 6rem;

    .hero-text {
      font-size: 3rem;
      font-weight: 800;
      margin-bottom: 1rem;
      line-height: 3rem;
    }

    .secondary-text {
      font-size: 1.3rem;
      margin-bottom: 2.5rem;
    }

    .scroll-container {
      position: absolute;
      // bottom: 5rem;
      align-self: center;
      color: black;
      bottom: 0;

      img {
        position: absolute;
        left: 30%;

      }
    }

    .one-third {
      width: 33%;
    }
  }
}
