  <%= simple_form_for [portfolio] do |form| %>
    <div class="xl:w-70">
      <div class="input-group relative items-stretch w-full">
        <%= form.input :name %>
        <%= form.submit %>
      </div>
    </div>
  <% end %>
