<script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));
</script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
</script>

<%# TWITTER %>
<div id="twitter" class="row-span-2 bg-white shadow rounded-lg p-4 sm:p-4 xl:p-6">
    <div class="w-full flex items-center justify-between mb-4">
      <div class="flex-shrink-0 w-full">
        <div class="w-full" data-controller="twitter" data-twitter-tweets="<%= @tweets %>">
          <div id="tweet" class="w-full">
            <%# here goes the tweets %>
          </div>
        </div>
      </div>
    </div>
    <div id="main-chart"></div>
</div>
