<%# TWITTER %>
<div data-timescroll-target="twitterpage">
</div>
<%= @date_param %>
<%= @tweets[1] %>

<%= turbo_frame_tag "tweets_stock" do %>
  <div id="twitter" class="w-full flex items-center justify-between mb-4">
    <div class="flex-shrink-0 w-full">
      <div class="w-full" data-controller="twitter" data-twitter-tweets-value="<%= @tweets[0] %>">
        <div id="tweet" class="w-full">
          <%# here goes the tweets %>
        </div>
      </div>
    </div>
  </div>
  <script>
    twttr.widgets.load()
  </script>
<% end %>
