<% array = @news_hash["articles"].first(3) %>
<% array.each do |a| %>
  <div>
    <div class="flex items-start rounded-xl bg-white p-4 shadow-lg">
      <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
              <img class="w-20 h-20 rounded-xl" src="<%= a["urlToImage"] %>" alt="news">
          </div>
          <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 dark:text-white">
                <a href="<%= a["url"] %>" target="_blank"><%= a["title"] %></a>
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                <%= a["publishedAt"] %>
              </p>
          </div>
      </div>
    </div>
  </div>
<% end %>
