<div class="w-full p-2">
<style>
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 12px;
            height: 12px;
            cursor: ew-resize;
            background: #FFF;
            box-shadow: -405px 0 0 400px purple;
            border-radius: 50%;
            border: 1px solid #ccc;
        }
    }
</style>
<input id="selectdate" data-timescroll-target="time"
class="w-80 rounded-lg overflow-hidden appearance-none bg-gray-400 h-2" type="range" min="1" max="7" step="1" value="7" />
  <%# <ul class="flex justify-between w-80">
    <li class="flex justify-center relative"><span class="absolute">-6</span></li>
    <li class="flex justify-center relative"><span class="absolute">-5</span></li>
    <li class="flex justify-center relative"><span class="absolute">-4</span></li>
    <li class="flex justify-center relative"><span class="absolute">-3</span></li>
    <li class="flex justify-center relative"><span class="absolute">-2</span></li>
    <li class="flex justify-center relative"><span class="absolute">-1</span></li>
    <li class="flex justify-center relative"><span class="absolute">Today</span></li>
  </ul> %>
<p id="datevalue" data-timescroll-target="value"><%= Date.today %></p>
</div>
