<div class="range-slider pb-1">
  <input id="selectdate" class="range-slider__range"
  data-timescroll-target="time"
  type="range" step="1" value="6" min="1" max="6">

  <p id="datevalue" data-timescroll-target="valueshow"
  class="range-slider__value"><%= Time.now.strftime("%b %-d, %Y") %></p>

  <p id="datevalue" data-timescroll-target="value"
  class="hidden"><%= Date.today %></p>
</div>
