<div data-controller="dropdown" class="relative inline-block text-left ">
  <div>
    <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="fa-regular fa-plus ver:bg-gray-50 border rounded-full focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100 h-5 w-5" id="menu-button" aria-expanded="true" aria-haspopup="true">
    </button>
  </div>

  <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
  <div data-dropdown-target="menu"
  class="hidden transition transform absolute right-8 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
      <% @portfolios.each do |portfolio| %>
        <li class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1">
          <%= link_to "+ #{portfolio.name}",
            portfolio_portfolio_stocks_path(portfolio, stock_id: stock.id),
            data: { turbo_method: :post, turbo_confirm: "Are you sure to add this new stock?" },
            data_action:"dropdown#toggle" %>
        </li>
        <% end %>
    </div>
  </div>
</div>
