<dialog id="turbo-confirm" class="w-2/5 relative bg-white rounded-lg shadow">
  <form method="dialog">
    <div class="flex items-start justify-between p-4 rounded-t">
      <p class="text-xl font-semibold text-gray-900">Are you sure?</p>
      <button value="cancel" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" >
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <div class="flex mt-2 gap-x-2">
      <button class="text-gray-600 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-indigo-300 rounded-full border border-gray-200 text-sm font-medium py-2.5 hover:text-gray-900 focus:z-10 w-1/2" value="cancel">Cancel</button>
      <button class="text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-full text-sm py-2.5 text-center w-1/2" value="confirm">Confirm</button>
    </div>
  </form>
</dialog>

<%# Logic is in app/javascript/controllers/application.js %>
