<footer class="p-4 bg-white sm:p-6 bg-indigo-600 font-serif">
    <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0 flex flex-col items-start justify-between">
            <a href="https://www.takestock.dev" class="pl-6 flex justify-end">
                <%# <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-8" alt="FlowBite Logo" /> %>
              <div class="flex items-center text-white">
                <svg class="text-white fill-current h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm64 192c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V256c0-17.7 14.3-32 32-32zm64-64c0-17.7 14.3-32 32-32s32 14.3 32 32V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V160zM320 288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V320c0-17.7 14.3-32 32-32z"/></svg>
                <span class="ml-2 self-center text-2xl font-semibold whitespace-nowrap">TakeStock</span>
              </div>
              <div class="text-sm text-gray-300">
                <div class="sm:flex sm:items-center sm:justify-between">
                  <span>© 2022 <a href="https://www.takestock.dev" class="ml-1 hover:underline"> TakeStock™</a>. All Rights Reserved.</span>
                </div>
              </div>
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 mr-12">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-white">Resources</h2>
                <ul class="text-sm text-gray-300">
                    <li class="mb-2">
                        <a href="https://github.com/FACE-co/TakeStock" class="hover:underline">Project Github</a>
                    </li>
                    <li>
                        <a href="/about" class="hover:underline">About Us</a>
                    </li>
                </ul>
            </div>
            <div>
              <h2 class="mb-6 text-sm font-semibold text-white">Proudly brought to you by:</h2>
              <ul class="text-sm text-gray-300">
                  <li class="mb-2">
                      <a href="https://www.linkedin.com/in/farah-masri-72b329141/" class="hover:underline ">Farah Masri</a>
                  </li>
                  <li class="mb-2">
                      <a href="https://www.linkedin.com/in/amberyharris/" class="hover:underline">Ambery Harris</a>
                  </li>
                  <li class="mb-2">
                      <a href="https://www.linkedin.com/in/casey-qingyun-dai/" class="hover:underline">Casey Dai</a>
                  </li>
                  <li>
                      <a href="https://www.linkedin.com/in/elliottkan/" class="hover:underline">Elliott Kan</a>
                  </li>
              </ul>
            </div>
        </div>
    </div>
    <%# <hr class="my-2 sm:mx-auto border-gray-500 lg:my-6" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="pl-6 text-xs sm:text-center text-gray-300">© 2022 <a href="https://www.takestock.dev" class="hover:underline">TakeStock™</a>. All Rights Reserved.</span>
    </div> %>
</footer>
