// Graphical variables
@import "config/fonts";
@import "config/cursor";
// @import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
// @import "bootstrap/scss/bootstrap";
// @import "font-awesome";
@import "flatpickr/dist/themes/airbnb";

// Your CSS partials
@import "components/index";
@import "pages/index";

// .stock-internal-div::-webkit-scrollbar-track
// {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
//   border-radius: 16px;
//   width: 10px;
//   background-color: #F5F5F5;
//   border: solid 3px transparent;
// }

.stock-internal-div::-webkit-scrollbar
{
  width: 14px;
  border-radius: 16px;
  background-color: transparent;
}

.stock-internal-div::-webkit-scrollbar-thumb
{
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  // background-color: #AAAAAA;
  border-radius: 16px;
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background-color: #4f46e5;
  // border: solid 3px transparent;
}

.master-div {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.material-symbols-rounded {
  font-size: 12px;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 5
}
